.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "top"
        "two"
        "three"
        "bottom";
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            "three"
            "top"
            "bottom"
            "two";
    }
}

.top { 
    grid-area: top; 
    background-color: aqua;
    padding: 50px;
}

.two { 
    grid-area: two; 
    height: 400px;
    background-color: burlywood;
}
.three { 
    grid-area: three; 
    padding: 76px;
    background-color: chocolate;
}

.bottom { 
    grid-area: bottom; 
    background-color: mediumvioletred;
}


